/* Styles for tablets */
@media (max-width:1050px) {
  .header {
    &_top--nav {
      margin-left: 90px;
    }

    &_container {
      flex-direction: column;
      padding-bottom: 20px;

      &--content {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
          text-align: center;
        }

        &--text {
          text-align: center;
        }

        &--recomend {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;

          &--ex {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .categories {
    display: flex;
    align-items: center;
    flex-direction: column;

    &_container {
      flex-direction: column;
    }
  }
}

/* Адаптив для мобильных */
@media (max-width: 768px) {
  .header {
    &_top {

      &--nav,
      &--btns {
        display: none;
      }

      &--burger {
        display: block;
        margin-right: 20px;
        cursor: pointer;
      }

      &--img {
        margin-left: 20px;
      }
    }

    &_container {
      &--content {

        &--text {
          width: 290px;

        }

        &--box {
          width: 290px;

          &--btn {
            width: 68px;

            &--img {
              padding-right: 15px;
            }

            &--text {
              display: none;
            }
          }
        }
      }
    }
  }
}