/* Styles for tablets */
@media (max-width:1050px) {
  .header {
    &_top--nav {
      margin-left: 90px;
    }

    &_container {
      flex-direction: column;

      &--content {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
          text-align: center;
        }

        &--text {
          text-align: center;
        }

        &--recomend {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;

          &--ex {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .categories {
    display: flex;
    align-items: center;
    flex-direction: column;

    &_container {
      flex-direction: column;
      
    }
  }
}