/* Styles for tablets */
@media (max-width:1050px) {
  .header {
    &_top--nav {
      margin-left: 90px;
    }

    &_container {
      flex-direction: column;
      padding-bottom: 20px;

      &--content {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
          text-align: center;
        }

        &--text {
          text-align: center;
        }

        &--recomend {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;

          &--ex {
            margin-top: 10px;
          }
        }
      }
    }
  }

  main {
    .categories {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .vacancies {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_box {
        flex-wrap: wrap;
        gap: 20px;
        padding: 25px;

        &--btn {
          order: 3;
        }

        &--requirements {
          order: 4;
          width: 100%;
          margin: 0 auto;
        }

        &--more {
          order: 5;
          margin: 0 auto;
        }
      }
    }
  }

}

/* Адаптив для мобильных */
@media (max-width: 768px) {
  .header {
    &_top {

      &--nav,
      &--btns {
        display: none;
      }

      &--burger {
        display: block;
        margin-right: 20px;
        cursor: pointer;
      }

      &--img {
        margin-left: 20px;
      }
    }

    &_container {
      &--content {

        &--text {
          width: 290px;

        }

        &--box {
          width: 290px;

          &--btn {
            width: 68px;

            &--img {
              padding-right: 15px;
            }

            &--text {
              display: none;
            }
          }
        }
      }
    }
  }

  .categories {
    &_container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .vacancies {
    &_box {
      width: 290px;
      flex-direction: column;
      align-items: center;

      &--info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &--btn {
        text-align: center;
      }

      &--requirements {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        &--box {
          flex-wrap: wrap;
        }
      }

      &--more {
        align-self: flex-end;
      }
    }

  }
}