@media (max-width:1230px) {
  main {
    .vacancies {

      &_container--box {
        width: 700px;

        &--info {
          flex-direction: column;
        }
      }

    }
  }
}

/* Styles for tablets */
@media (max-width:1050px) {
  .header {
    &_top--nav {
      margin-left: 90px;
    }

    &_container {
      flex-direction: column;
      padding-bottom: 20px;

      &--content {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
          text-align: center;
        }

        &--text {
          text-align: center;
        }

        &--recomend {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;

          &--ex {
            margin-top: 10px;
          }
        }
      }
    }
  }

  main {
    .categories {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

  }

}

/* Адаптив для мобильных */
@media (max-width: 768px) {
  .header {
    &_top {

      &--nav,
      &--btns {
        display: none;
      }

      &--burger {
        display: block;
        margin-right: 20px;
        cursor: pointer;
      }

      &--img {
        margin-left: 20px;
      }
    }

    &_container {
      &--content {

        &--text {
          width: 290px;

        }

        &--box {
          width: 290px;

          &--btn {
            width: 68px;

            &--img {
              padding-right: 15px;
            }

            &--text {
              display: none;
            }
          }
        }
      }
    }
  }

  main {
    .categories {
      &_container {
        grid-template-columns: 1fr;
      }
    }

    .vacancies {}

    .subscribe {
      &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

}