 main {
     background-color: white;

     .categories {
         background-color: white;
         width: 100%;
         max-width: 1145px;
         margin: 0 auto;
         padding-top: 70px;
         padding-bottom: 80px;

         &_title {
             font-family: Fira Sans;
             font-weight: 700;
             font-size: 24px;
             line-height: 100%;
             letter-spacing: 0%;
             color: #111238;
             background-color: white;
             margin-bottom: 40px;
         }

         &_container {
             display: flex;
             align-items: center;
             gap: 30px;
             background-color: #FFFFFF;

             &--box {
                 background-color: #F2F3F6;
                 width: 166px;
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 border-radius: 10px;
                 padding-top: 35px;
                 padding-bottom: 35px;
                 transition-duration: 0.5s;
                 cursor: pointer;

                 &--p {
                     font-family: Fira Sans;
                     font-weight: 400;
                     font-size: 16px;
                     line-height: 100%;
                     letter-spacing: 0%;
                     text-align: center;
                     color: #111238;
                     margin-top: 15px;
                     transition-duration: 0.5s;
                 }

                 svg {
                     transition-duration: 0.5s;
                 }
             }

             &--box:hover {
                 background-color: #1A75E8;

                 svg path {
                     fill: #FFFFFF;
                 }

                 svg {
                     background-color: #1A75E8;
                 }

                 p {
                     color: #FFFFFF;
                     background-color: #1A75E8;
                 }
             }
         }
     }

     .vacancies {
         width: 100%;
         max-width: 1146px;
         margin: 0 auto;
         background-color: #FFFFFF;

         &_title {
             font-family: Fira Sans;
             font-weight: 700;
             font-size: 24px;
             line-height: 100%;
             letter-spacing: 0%;
             color: #111238;
             background-color: #FFFFFF;
             margin-bottom: 40px;
         }

         &_box {
             background-color: #FFFFFF;
             display: flex;
             justify-content: space-between;
             align-items: center;
             border: 1px solid #C5C9D4;
             border-radius: 5px;
             padding: 30px 55px 30px 30px;
             margin-bottom: 20px;

             &--img {
                 background-color: #FFFFFF;
             }

             &--info {
                 background-color: #FFFFFF;

                 &--p {
                     background-color: #FFFFFF;
                     font-family: Fira Sans;
                     font-weight: 700;
                     font-size: 16px;
                     line-height: 100%;
                     letter-spacing: 0%;
                     color: #111238;
                     margin-bottom: 10px;
                 }

                 &--location {
                     background-color: #FFFFFF;
                     font-family: Fira Sans;
                     font-weight: 400;
                     font-size: 14px;
                     line-height: 100%;
                     letter-spacing: 0%;
                     color: #111238;
                 }
             }

             &--btn {
                 font-family: Fira Sans;
                 font-weight: 700;
                 font-size: 16px;
                 line-height: 100%;
                 letter-spacing: 0%;
                 text-align: center;
                 background-color: #1A75E8;
                 color: #FFFFFF;
                 cursor: pointer;
                 padding: 10px 25px 10px 25px;
                 border: none;
                 border-radius: 5px;
             }

             &--requirements {
                 display: flex;
                 gap: 15px;
                 align-items: center;
                 background-color: #FFFFFF;


                 &--title {
                     font-family: Fira Sans;
                     font-weight: 400;
                     font-size: 14px;
                     line-height: 100%;
                     letter-spacing: 0%;
                     color: #B2B2B2;
                     background-color: #FFFFFF;
                 }

                 &--box {
                     display: flex;
                     gap: 10px;
                     align-items: center;
                     background-color: #FFFFFF;

                     &--p {
                         font-family: Fira Sans;
                         font-weight: 400;
                         font-size: 14px;
                         line-height: 100%;
                         letter-spacing: 0%;
                         color: #B2B2B2;
                         padding: 5px 10px 5px 10px;
                         border: 1px solid #B2B2B2;
                         background-color: #FFFFFF;
                         border-radius: 5px;
                     }
                 }
             }

             &--more {
                 font-family: Fira Sans;
                 font-weight: 400;
                 font-size: 14px;
                 line-height: 100%;
                 letter-spacing: 0%;
                 color: #1A75E8;
                 background-color: #FFFFFF;
             }
         }

         &_btn {
             cursor: pointer;
             font-family: Fira Sans;
             font-weight: 400;
             font-size: 16px;
             line-height: 100%;
             letter-spacing: 0%;
             text-align: center;
             color: #FFFFFF;
             background-color: #1A75E8;
             padding: 15px 30px 15px 30px;
             border: none;
             border-radius: 5px;
             margin-top: 40px;
             margin-bottom: 80px;
             margin-left: 50%;
         }
     }

     .subscribe {
         &_container {
             width: 100%;
             max-width: 460px;
             margin: 0 auto;

             &--title {
                 font-family: Fira Sans;
                 font-weight: 900;
                 font-size: 36px;
                 line-height: 100%;
                 letter-spacing: 0%;
                 text-align: center;
                 color: #111238;
                 padding-top: 90px;
                 margin-bottom: 20px;
             }

             &--text {
                 font-family: Fira Sans;
                 font-weight: 400;
                 font-size: 18px;
                 line-height: 140%;
                 letter-spacing: 0%;
                 text-align: center;
                 color: #111238;
                 margin-bottom: 40px;
             }

             &--box {
                 width: 447px;
                 background-color: #FFFFFF;
                 border: 1px solid #D1D1D11A;
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 padding: 11px 10px 10px 25px;
                 border-radius: 5px;
                 margin-bottom: 90px;

                 &--input {
                     font-family: Fira Sans;
                     font-weight: 400;
                     font-size: 16px;
                     line-height: 100%;
                     letter-spacing: 0%;
                     background-color: #FFFFFF;
                     color: #B2B2B2;
                     border: none;
                 }

                 &--btn {
                     display: flex;
                     gap: 10px;
                     align-items: center;
                     background-color: #1A75E8;
                     border: none;
                     border-radius: 5px;
                     padding: 15px 30px 15px 30px;
                     cursor: pointer;

                     &--img {
                         background-color: #1A75E8;
                     }

                     &--text {
                         font-family: Fira Sans;
                         font-weight: 400;
                         font-size: 16px;
                         line-height: 100%;
                         letter-spacing: 0%;
                         color: #FFFFFF;
                         background-color: #1A75E8;
                     }
                 }
             }
         }
     }
 }